listening-port=3478
tls-listening-port=5349
min-port=49160
max-port=49200
fingerprint
lt-cred-mech
realm=__TURN_REALM__
user=__TURN_USER__:__TURN_PASSWORD__
cert=/etc/coturn/certs/cert.pem
pkey=/etc/coturn/certs/key.pem
no-cli
no-multicast-peers
stale-nonce=600
log-file=stdout
simple-log
